body {
height: 100px;
 background-image: url("background-pattern.png");
}


.cta {
 background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);  
color: white;
padding: 12px 30px;
border-radius: 25px;
font-weight: bold;
text-decoration: none;
}


.features {
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 50px 20px;
gap: 40px;
}

/*{
  background: rgba(255, 255, 255, 0.2); /* yarı saydam beyaz 
  backdrop-filter: blur(10px); /* arka planı bulanıklaştırır 
  -webkit-backdrop-filter: blur(10px); /* Safari uyumluluğu 
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: #000; /* yazı rengi 
}*/
/*{

background: white;
border-radius: 16px;
box-shadow: 0 3px 8px rgba(0,0,0,0.1);
max-width: 300px;
padding: 20px;
}*/

.feature {
  background: rgba(255, 255, 255, 0.2); /* yarı saydam beyaz */
  backdrop-filter: blur(10px); /* arka planı bulanıklaştırır */
  -webkit-backdrop-filter: blur(10px); /* Safari uyumluluğu */
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: #000; /* yazı rengi */
}


.green { color: #2ecc71; font-weight: bold; }
.yellow { color: #f1c40f; font-weight: bold; }
.red { color: #e74c3c; font-weight: bold; }


.download {
 background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(3px); 
  -webkit-backdrop-filter: blur(3px);
color: white;
padding: 60px 20px;

}


button {
background: #fff;
color: #1976d2;
border: none;
padding: 15px 40px;
border-radius: 25px;
font-weight: bold;
cursor: pointer;
}


footer {
color: white;
padding: 15px;
font-size: 14px;
}